{% extends 'base_dev.html' %}
{% load staticfiles %}

{% block page_title %}
<title>Techlab</title>
{% endblock %}

{% block extra_includes %}

<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="container-fluid home">
    <div class="row content" id="about">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <table>
                    <tr>
                        <td>
                            <img class="logo" src="{% static 'logo-techlab.png' %}" alt="Techlab logo"/>
                        </td>
                        <td>
                            <h1 class="vright">About Techlab</h1>
                            <p>
                            Techlab is a <a href="http://www.cern.ch/it-div">CERN IT</a> project providing testing/benchmarking platforms for multiple architectures and accelerators.
                            We gather users requests, analyze market trends and procure cutting edge hardware.
                            We then set it up, test it and put it up for experimental use by members of the HEP community.
                            </p>
                            <p>
                            Techlab systems are operated as evolving, test systems, on a best effort basis, and must not be used for production work or with sensitive data.
                            Hosts are reinstalled on a regular basis and user data is permanently deleted at the end of each test slot.
                            </p>
                            <p>
                            Under some conditions and subject to availability, it may be possible to loan a Techlab system for longer periods, for example to pilot a build system on new platforms.
                            </p>
                            <p>
                            Core principles of Techlab:
                            </p>
                            <ul>
                              <li>Everything can be published - no NDA</li>
                              <li>Hardware is off-the-shelves - No development boards </li>
                              <li>Hardware is periodically updated based community feedback and industry trends</li>
                              <li>Multiple vendors and platforms</li>
                              <li>No production service or guaranteed availability - This is a lab!</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row content" id="pros">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <h1>The "pros" of Techlab</h1>
                <ul class="justify">
                    <li><b>Pro</b>be the market for emerging technologies
                    </br>
                    We are constantly on the lookout for new trends in HPC, cutting-edge technologies and alternative architectures, in terms of CPUs and accelerators.
                    </li>
                    <li><b>Pro</b>mote alternatives
                    </br>
                    We believe that in the long run, a diverse offer and a healthy competition in the HPC market will serve science in particular, computing in general, and everyone in the end.
                    </br>
                    For this reason, we encourage the use of not-quite-there-yet alternatives to the standard x86 quasi-monopoly, in the hope that in the near future, such alternative architectures can proudly compete, on an equal footing.
                    </li>
                    <li>
                    <b>Pro</b>duce data
                    </br>
                    To serve as basis for hardware choice, we run extensive benchmarks on all the systems we can get our hands on, and distribute the results to help others make fully informed choices when buying hardware that will fit their computing needs.
                    </li>
                    <li>
                    <b>Pro</b>pose hardware
                    </br>
                    We buy hardware, set it up, test it, then lend for free so members of the HEP community can experiment with it...
                    </li>
                    <li>
                    <b>Pro</b>vide support
                    </br>
                    ... Then we help run it. On a best-effort basis, we try and help users take the best out of the hardware we lend
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row content" id="access">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <h1>Request access</h1>
<p>
In order to booking Techlab systems, you need to request access. If you do not have a CERN or eduGAIN identity, please contact <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=Hardware-Labs&s=techlab">CERN Service Desk</a>.
</p>
<h2>Usage</h2>
<p>
Techlab provides a test environment aimed at improving the efficiency and performance that can be gained from modern hardware and optimised software (applications, compilers, drivers and operating systems).
</p><p>
Techlab systems are operated as evolving, test systems, on a best effort basis, and must not be used for production work or with sensitive data. Hosts are reinstalled on a regular basis and user data is permanently deleted at the end of each test slot.
</p><p>
Techlab systems usage is subject to the CERN Computing Rules. Any violation will be immediately escalated.
Booking duration
</p><p>
The systems are made available to each user for a limited period of time, from a few days to a few weeks. Under some conditions and subject to availability, it may be possible to loan a Techlab system for longer periods, for example to pilot a build system on new platforms.
</p>
<h2>Feedback</h2>
<p>
Feedback from Techlab users is essential and a key part of Techlab's planning and strategy for the future. We always love to hear:
<ul>
    <li>What are your goals and expectations</li> 
    <li>How Techlab can help you reach them, or how Techlab was helfpul for your project</li>
    <li>How we could improve the Techlab hardware and environment</li>
</ul>
</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% comment %}
    <div class="row content" id="benchmarks">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <h1>Benchmarks</h1>
                <p>We run extensive benchmarks on our systems. We also welcome results from other teams</p>
                <p>Go <a href={% url 'benchmarks_list' %}>here</a> to see benchmarking results.</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row content" id="team">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <h1>The team</h1>
                picture / short text about every member? Role in Techlab
                <p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endcomment %}
    <div class="row content" id="contact">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
                <h1>Keep in touch</h1>
                <p>To get the latest updates about what we're up to or what exciting new hardware we have to propose, or to ask question to Techlab's admins or to the Techlab's community, subscribe to the following mailing lists:
                <ul>
                  <li><a href="https://e-groups.cern.ch/e-groups/Egroup.do?egroupId=10098252">techlab-announce</a>: Techlab announcement list (low volume)</li>
                  <li><a href="https://e-groups.cern.ch/e-groups/Egroup.do?egroupId=10098251">techlab-discuss</a>: Techlab and technical discussion list</li>
                </ul>
                <p>Technical issues should be reported to the <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=Hardware-Labs&s=techlab">CERN Service Desk</a></p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row content" id="systems">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="vcentered">
<h1>Techlab systems</h1>
<h2>Typical configuration</h2>

<p>
Techlab systems aims at running a software stack as close as possible to standard production systems, typically CentOS 7 managed with Puppet.
Depending on feasibility and efforts needed, additional tools, or running Fedora Core or modern Linux Kernels may be explored on a subset of the systems.
</p>
<h2>System identification</h2>

<p>
Techlab uses multiple architectures, identified following this schema:
</p>
<ul>
    <li><b>x86_64 (x86)</b>: also known as AMD64 and x86-64. Abbreviated 'x86' in short, user-friendly aliases. We don't own any x86 32-bits systems, so in Techlab systems, 'x86' will always refer to 'x86_64'.</li>
    <li><b>ppc64le (ppc)</b>: identifier for the 64-bits, little-endians Power8 architecture, abbreviated 'ppc' in short, user-friendly aliases.</li>
    <li><b>ARM64 (arm)</b>: also known as 'aarch64' and 'ARMv8', abbreviated 'arm', for we don't own any ARM 32-bits system, so no confusion is possible.</li>
    <li><b>GPU</b>: not an architecture per se, but we prefix GPU-based nodes with 'GPU'. Full specs will also list CPUs, of course, but hostnames with only list GPU specs, as it is the most relevant feature of those nodes.</li>
</ul>

<h2>Techlab systems</h2>
<p>
A full list of Techlab systems is available <a href="https://twiki.cern.ch/twiki/bin/view/IT/TechLab">HERE</a>.
</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>
$('ul.nav li.dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });


$(document).ready(function() {
        // Custom 
        var stickyToggle = function(sticky, stickyWrapper, scrollElement) {
        var stickyHeight = sticky.outerHeight();
        var stickyTop = stickyWrapper.offset().top;
        if (scrollElement.scrollTop() >= stickyTop){
        stickyWrapper.height(stickyHeight);
        sticky.addClass("is-sticky");
        }
        else{
        sticky.removeClass("is-sticky");
        stickyWrapper.height('auto');
        }
        };

        // Find all data-toggle="sticky-onscroll" elements
        $('[data-toggle="sticky-onscroll"]').each(function() {
            var sticky = $(this);
            var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
            sticky.before(stickyWrapper);
            sticky.addClass('sticky');

            // Scroll & resize events
            $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function() {
                stickyToggle(sticky, stickyWrapper, $(this));
                });

            // On page load
            stickyToggle(sticky, stickyWrapper, $(window));
            });
});

$('a[href*="#"]')
// Remove links that don't actually link to anything
.not('[href="#"]')
.not('[href="#0"]')
.click(function(event) {
        // On-page links
        if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
            && 
            location.hostname == this.hostname
           ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
scrollTop: target.offset().top
}, 500, function() {
// Callback after animation
// Must change focus!
var $target = $(target);
$target.focus();
if ($target.is(":focus")) { // Checking if the target was focused
return false;
} else {
$target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
$target.focus(); // Set focus again
};
});
}
}
});

</script>
{% endblock %}
