{% extends 'base_dev.html' %}
{% load staticfiles %}

{% block extra_includes %}
<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% comment %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endcomment %}
{% endblock %}

{% block page_title %}
<title>Hardwarelabs benchmarks</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      </br>
      </br>
      <h1>Benchmarks list</h1>
      <p>
      We run benchmarks on all hardware we can get our hands on:
      </p>
      <ul>
        <li><b>CPUs</b>: HS06</li>
        <li><b>GPUs</b>: We are working with the <a href="https://www.hepix.org/e10227/e10327/e10325/e10436/">HEPiX benchmarking working group</a> and Techlab users from the experiments at CERN to find suitable benchmarks</li>
        <li><b>SSDs</b>: extensive tests are performed by the CERN Datacenter procurement team</li>
      </ul>
      <p>We welcome contributions!</p>
      <p>Do not hesitate to <a href="mailto:techlab-admins@cern.ch">contact us</a> if there any benchmark you'd like to see added here, for any kind of hardware.
</br>
We'll add corresponding models to this tools' database, and work out together the best way for you to import your results.
</p>
</br></br>
      <div class="row">
        <div class="col-md-6" style="background-color:lightgrey;">
          <h2>Please select a benchmark</h2>
          </br>
          <p>
          <a href={% url 'cpu_benchmarks_select' %} class="btn btn-sq-lg btn-primary">
            <i class="fas fa-microchip fa-10x"></i>
            <br/>
            HEPSPEC06
          </a>
          <a href={% url 'ssd_benchmarks' %} class="btn btn-sq-lg btn-primary">
            <i class="fas fa-hdd fa-10x"></i>
            <br/>
            SSD Benchmarks
          </a>
          <button type="button" class="btn btn-sq-lg btn-primary" disabled>
            <i class="fas fa-memory fa-10x"></i>
            </br>
            GPU benchmarks
            </br>
            (Coming soon)
          </button>
          </p>
        </div>

        <div class="col-md-6" style="background-color:darkgrey;">
          <h2>Import benchmark results</h2>
          </br>
          <p>
          <a href={% url 'import_hepspec_benchmarks' %} class="btn btn-sq-lg btn-primary">
            <i class="fas fa-microchip fa-10x"></i>
            <br/>
            HEPSPEC06
          </a>
          <a href={% url 'import_benchmarks' %} class="btn btn-sq-lg btn-primary">
            <i class="fas fa-hdd fa-10x"></i>
            <br/>
            SSD Benchmarks
          </a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
