{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
<title>Hardwarelabs benchmarks</title>
{% endblock %}

{% block extra_includes %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh.min.js" integrity="sha256-aBVGfchI6ZCXTHrabLclZxpKmcFB4yTxNaZDNwb5AJ0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-widgets.min.js" integrity="sha256-RwqBHZbzFw1SBaCA7ybxg3wXAm+71GY7VYLG8MOBY4M=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-api.min.js" integrity="sha256-1AGxAQKu1E3N6qHnsiwG3g+mqq18uySgQ7IPnG1vowc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh.min.css" integrity="sha256-59i3eSnfl1DozycVwJ9gRKCoA3ldQ43KiRGzriqWRnk=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-widgets.min.css" integrity="sha256-39TG15nLzqPWVd0qKL/SZydhgBW3t1GhrzySFyLvSHs=" crossorigin="anonymous" />


<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid bk-root">
    {{ bokeh_plots|safe }}
</div>
{{ bokeh_script|safe }}

{% endblock %}
