{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
<title>Hardwarelabs benchmarks</title>
{% endblock %}

{% block extra_includes %}

{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh.min.js" integrity="sha256-aBVGfchI6ZCXTHrabLclZxpKmcFB4yTxNaZDNwb5AJ0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-widgets.min.js" integrity="sha256-RwqBHZbzFw1SBaCA7ybxg3wXAm+71GY7VYLG8MOBY4M=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-api.min.js" integrity="sha256-1AGxAQKu1E3N6qHnsiwG3g+mqq18uySgQ7IPnG1vowc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh.min.css" integrity="sha256-59i3eSnfl1DozycVwJ9gRKCoA3ldQ43KiRGzriqWRnk=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.4/bokeh-widgets.min.css" integrity="sha256-39TG15nLzqPWVd0qKL/SZydhgBW3t1GhrzySFyLvSHs=" crossorigin="anonymous" />
{% comment %}
{% endcomment %}

{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh.min.css" integrity="sha256-zsqDF3H1iz6WY3Gpff0mvScEY5EdkppaKQTk9DxOeHA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh.min.js" integrity="sha256-qQlCEkdRGla2Em+qyBlwf19MuAsfqsDbou1tN/eDGjs=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh-widgets.min.css" integrity="sha256-39TG15nLzqPWVd0qKL/SZydhgBW3t1GhrzySFyLvSHs=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh-widgets.min.js" integrity="sha256-AP3Por/ZKI2yGtS7v+UjDEP1i4sAkEeBM3b505CO2KE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.5/bokeh-api.min.js" integrity="sha256-yz7NkcsyhLQsxo6m3Z+3gTS3S+4WXzQ8V8r+8w+464g=" crossorigin="anonymous"></script>
{% comment %}
{% endcomment %}

{% comment %}
{% endcomment %}
<link href={% static 'css/bokeh-0.12.3.min.css' %} rel="stylesheet" type="text/css">
<script src={% static 'js/bokeh-0.12.3.min.js' %}></script>
<link href={% static 'css/bokeh-widgets-0.12.3.min.css' %} rel="stylesheet" type="text/css">
<script src={% static 'js/bokeh-widgets-0.12.3.min.js' %}></script>
<script src={% static 'js/bokeh-api.min.js' %}></script>
{% comment %}
{% endcomment %}

{% comment %}
<link href={% static 'css/bokeh-0.12.3.min.css' %} rel="stylesheet" type="text/css">
<script src={% static 'js/bokeh-0.12.3.js' %}></script>
<link href={% static 'css/bokeh-widgets-0.12.3.min.css' %} rel="stylesheet" type="text/css">
<script src={% static 'js/bokeh-widgets-0.12.3.js' %}></script>
<script src={% static 'js/bokeh-api.js' %}></script>
{% comment %}
{% endcomment %}

<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid bk-root">

	<button class="btn-block btn-primary" type="button" data-toggle="collapse" data-target="#bokeh_widgets" aria-expanded="false" aria-controls="bokeh_widgets">
		Show/Hide filters
	</button>
	<div class="col-xs-12 collapse in" id="bokeh_widgets">
		<div class="col-md-8 offset-md-2">
			{% for widget in bokeh_widgets %}
			<div class="widget_group_box">
				<div id="{{ widget.elementid }}"></div>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-2"></div>
		<div class="col-xs-12" style="min-height: 25vh;"></div>

        <button class="btn-block btn-primary" type="button" data-toggle="collapse" data-target="#bokeh_widgets" aria-expanded="false" aria-controls="bokeh_widgets">
            Show/Hide filters
        </button>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12" style="min-height: 25vh;"></div>
		<div class="col-md-8 offset-md-2">
			{% for plot in bokeh_plots %}
			<div id="{{ plot.elementid }}"></div>
			<div style="min-height: 20vh;"></div>
			{% endfor %}
		</div>
		<div class="col-md-2"></div>
	</div>

</div>
{{ bokeh_script|safe }}

{% endblock %}
