<head>
    <!-- code to include the highcharts and jQuery libraries goes here -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js" integrity="sha256-0+x1DGGOm17hg9UnUgTPEIbqpnUYG7+b/P/uYMO13N0=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/css/highcharts.css" integrity="sha256-afGRDB5kwkjMrIwb9wKAU7s2f71AhkBxC09+iKs1R74=" crossorigin="anonymous" />
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ chart|load_charts:"container" }}
</head>

<body>
    <div id='container'> Chart will be rendered here </div>
</body>
