{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_includes %}
<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block page_title %}
<title>Hardwarelabs benchmarks</title>
{% endblock %}

{% block content %}
<div class="col-xs-6" id="cpu">
	<a id="href_cpu" class="inner" href={% url 'cpu_benchmarks' %}></a>
</div>
<div class="col-xs-6" id="ssd">
	<a id="href_ssd" class="inner" href={% url 'ssd_benchmarks' %}></a>
</div>
{% endblock %}
