{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_includes %}
<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 left"></br><h1>Apologies, no result seem to be available to you.</h1></div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
