{% extends 'base_dev.html' %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block page_title %}
<title>Hardwarelabs benchmarks upload</title>
{% endblock %}

{% block extra_includes %}
<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous">
</script>
{% endblock %}

{% block content %}
<div class="col-md-3"></div>
<div class="col-sm-12 col-md-6">
  </br>
  <h3>Preselection</h3>
  <p>
  Please select a subset of hardware for which you wish to visualize benchmark results.
  </br>
  There is no hard limit either way (you may select as many or as little as you wish), but keep in mind that, as there may be sensitive hardware, the data is retrieved and plots built dynamically according to your access rights. The request can therefore take some time to process (or even timeout).
  </br>
  All fields are optional, and leaving one empty is equivalent to selecting everything.
  </p>
	{% crispy form form.helper %}
</div>
<div class="col-md-3"></div>
{% endblock %}
