@media (min-width: 768px){
    body, html {
        margin: 0;
        //        overflow: hidden;
        height:100%;
    }
    #left {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        overflow-y: scroll; 
    }

    #right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
    }
}

#left, #bokeh_widgets {
    background-color: #FC6E51;
    background-color: #EEEEEE;
}

#right {
    //    background-color: #4FC1E9;
}

#cpu:after {
    content: "\f2db"; 
}

#ssd:after {
    content: "\f0a0"; 
}

#cpu:after, #ssd:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 150px;
    color: blue;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -75px;
    z-index: 1;
}

#cpu {
    position: relative;
    padding: 0;
    min-height: 100%;
}

.inner {
    position: relative;
    z-index: 2;
}

#href_cpu, #href_ssd {
    width: 100%;
    height: 100vh;
    display: block;
}

#href_cpu:hover, #href_ssd:hover {
    background-color: rgba(1, 1, 1, 0.5);
}

.home > div.content {
    min-height: 100vh;
}

div.home > div:nth-of-type(even) {
    background-color: #0053A1;
    background-color: #CCC;
}

div.home > div:nth-of-type(odd) {
    background-color: #FFF;
}

.logo {
    width: 15vw;
}

.vright {
    text-align: right;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.vcentered {
position: relative;
top: 50%;
transform: translateY(-50%);
}

.justify {
    text-align: justify;
}
