{% load staticfiles %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" data-toggle="sticky-onscroll">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href={% url 'home' %}><img src="{% static 'tlab_small.png' %}" alt="Techlab" style="height: 1em"> Techlab</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href={% url 'home' %} id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href={% url 'home' %}#about>About</a>
              <a class="dropdown-item" href={% url 'home' %}#access>Get Access</a>
{% comment %}
                <a class="dropdown-item" href={% url 'home' %}#benchmarks>Benchmarks</a>
                <a class="dropdown-item" href={% url 'home' %}#team>Team</a>
{% endcomment %}
                <a class="dropdown-item" href={% url 'home' %}#contact>Contact</a>
                <a class="dropdown-item" href={% url 'home' %}#systems>Techlab systems</a>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href={% url 'benchmarks_list' %}>Benchmarks</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="https://twiki.cern.ch/twiki/bin/viewauth/IT/TechLab">Twiki</a>
            </li>
        </ul>
    </div>
</nav>
